@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Add</h1>
    <form >
        <label>Number 1:</label>
        <input type="number" name="num1"/>
        <label>Number 2:</label>
        <input type="number" name="num2" />
        <button type="submit">Add</button>
    </form>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
